.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.header__logo {
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  margin: 0;
}


.header__menu {
  min-width: 40%;
  margin: 0 auto;
}

.header__menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__menu-link {
  color: white;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.header__menu-link_active {
  text-decoration: underline;
}

.header__logout {
  width: 145px;
  margin-left: 50px;
  align-self: stretch;
  background-color: transparent;
  border: 5px solid white;
  border-radius: 10px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.header__logout:hover {
  background-color: rgba(255, 255, 255, .3)
}